*.class

#package file
*.war
*.ear

#kdiff3 ingnore
*.orig

#maven ignore
taget/

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/
/target/
/src/test/
/src/main/resources/rebel.xml
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.tmp

#system
.DS_Store
Thumbs.db